<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>648981497181-fsacg5bucjeqdqkir6sn8mbspdd23b89.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.648981497181-fsacg5bucjeqdqkir6sn8mbspdd23b89</string>
	<key>API_KEY</key>
	<string>AIzaSyBGM0gbcP1hcSj6S9oOhvQw_Rvh66cSXsY</string>
	<key>GCM_SENDER_ID</key>
	<string>648981497181</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.xiandongwang.hidingChat.HidingChat</string>
	<key>PROJECT_ID</key>
	<string>hidingchat-7b991</string>
	<key>STORAGE_BUCKET</key>
	<string>hidingchat-7b991.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:648981497181:ios:8037af35335be406</string>
	<key>DATABASE_URL</key>
	<string>https://hidingchat-7b991.firebaseio.com</string>
</dict>
</plist>